button {
    all: unset;
    font: var(--body-md);
    font-weight: 600;
    color: var(--text-highlight);
    padding: 0.875rem 1.25rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-left: auto;

    &.btn-primary {
        background-color: var(--brand-dark);
        color: var(--text-heading);

        display: flex;
        align-items: center;
        gap: 0.75rem;

        &:hover,
        &:focus {
            background-color: var(--brand-mid);
        }
    }
}