.upload-wrapper {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        background-color: var(--shape-button);
        color: white;
        font-weight: 600;

        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: background 0.2s;
    }

    .custom-file-upload:hover {
        background-color: var(--shape-hover);
    }

    .file-name {
        color: var(--input-placeholder);
        font: var(--text-md);
    }
}