input,
textarea,
select {
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    width: 100%;
    border-radius: .5rem;
    padding: 0.813rem 1rem;
    font: var(--text-md);
    color: var(--text-heading-md);

    &::placeholder {
        font: var(--text-md);
        color: var(--input-placeholder);
    }
}

input,
select {
    height: 3rem;
}

textarea {
    height: 8.5rem;
}

label {
    font: var(--text-sm);
    color: var(--text-body);
    display: block;
}

input:focus,
select:focus,
textarea:focus,
input[type="datetime-local"]:focus-within {
    outline: 1px solid var(--brand-light);
    outline-offset: .1px;
}

input[type="datetime-local"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before {
        content: "";
        background: url(../../assets/icons/calendar.svg) center/contain;

        width: 1rem;
        height: 1rem;

        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

input {
    
    &:invalid:not(:focus) {
        border: 2px solid var(--danger);
    }

    &+.error {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        font: var(--text-xs);
        color: var(--danger);
    }

    &:valid+.error {
        display: none;
    }

    
}