.radio-wrapper {
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;

    height: 3rem;
    padding: 0.25rem;
}

.radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;

    & input {
        display: none;
    }

    & label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        font: var(--text-sm);
        cursor: pointer;
    }

    &:hover,
    &:focus-within,
    &:has(:checked) {
        background-color: var(--shape-button);

        & label {
            font-weight: 600;
        }

        & svg path {
            fill: var(--brand-light);
        }
    }
}

.color-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.75rem;
}

.color-inner {

    & svg {
        overflow: visible;
    }

    & input {
        display: none;
    }

    &:hover,
    &:focus-within {

        svg g rect:nth-of-type(1) {
            fill: var(--shape-hover);
        }
    }

    &:has(:checked) svg g rect:first-of-type {
        stroke: var(--brand-light);
        stroke-width: 2px;
    }
}

.theme-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.75rem;
}

.theme-inner {
    border-radius: .5rem;
    padding: 0.25rem;
    background-color: var(--shape-button);
    border: 2px solid var(--shape-button);
    text-align: center;


    & img {
        width: 100%;
        margin-bottom: .5rem;
        border-radius: .25rem;
    }

    & input {
        display: none;
    }

    & label {
        margin-bottom: .5rem;
    }

    &:hover,
    &:focus-within {
        background-color: var(--shape-hover);
    }

    &:has(:checked) {
        border: 2px solid var(--brand-light);
    }
}