* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Brand Cores*/
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark:#1D6FB6;
  /*Accent Colors*/
  --purple:#B259FF;
  --fuschia:#FF59F9;
  --pink:#FF598B;
  --orange:#FF8B59;
  --yellow:#FFCD59;
  --lime:#E1FF59;
  --green:#59FF91;
  --cyan:#59FFF9;
  --navy:#6A59FF;
  /*Feedback*/
  --danger:#FF5959;
  /*Input*/
  --input-base:#1C1F21;
  --input-stroke:#363B40;
  --input-placeholder:#869198;
  /*Shape*/
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover:#383D42;
  /*Text*/
  --text-body:#C8CDD0;
  --text-heading:#F9F9F9;

  /*Fonts*/
  --font-family-one: "Leckerli One", sans-serif;
  --font-family-baloo: "Baloo 2", sans-serif;
  --font-family-opensans: "Open Sans", sans-serif;

  --text-logo: 400 2.5rem/1 var(--font-family-one);
  --text-heading-md: 700 1.75rem/1 var(--font-family-baloo);
  --text-heading-md: 700 1.125rem/1 var(--font-family-baloo);

  --text-md: 400 1rem/1 var(--font-family-opensans);
  --text-sm: 400 0.875rem/1 var(--font-family-opensans);
  --text-xs: 400 0.75rem/1 var(--font-family-opensans);
  
}

body {
  overflow: hidden;
}